/* universal para acomodar la pagina*/
*{
    margin: 0px;
    padding: 0px;
    background-color: white;
  }
  
  /* "foto" del logo que iria a la esquina de la barra de navegacion */
  .logo{
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
  }
  
  /* color de la barra entre elementos */
  .barra {
    background-color: #0f3f49;
  }
  
  /* barra de navegacion con */
  header{
      z-index: 10;
      position: fixed;
      display: flex;
      width: 100%;
      background-color: #0f3f49;
      justify-content: space-between;
      align-items: center;
      padding: 15px;
  }
  
  /*para los vinculos*/
  a{
    text-decoration: none;
    color: rgb(0, 0, 0);
  }
  
  /*barra de navegacion*/
  
  nav a{
      font-weight: 600;
      padding: 10px;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      background-color: #0f3f49;
      color: #4428a8;
  }
  
  /*el hover del nav o sea sus categorias*/
  nav a:hover{
      color: rgb(252, 254, 255);
  }
  
  /*texto*/
  p {
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  
  /*titulos*/
  h1{
    font-family: fantasy;
  }
  
  /*cajas de las noticias*/
  .noticias{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    justify-content: space-around;
    overflow: hidden;
  }
  
  /*para ordenar*/
  .columnas{
    width: 300px;
    border-radius: 10%;
  }
  
  /*texto dentro */
  .texto{
    width: 300px;
    border: 1px black solid;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
    text-align: center;
    border-radius: 10%;
    margin: 20px;
  }
  
  /*footer*/
  .pie{
    margin: 0 auto;
    text-align: center;
    padding: 1vw auto;
    top: 0;
    left: 0;
    background-color: #828282;
  }